{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Online</title>
    <link rel="stylesheet" href="{% static 'catalogo/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'catalogo/img/logo.jpeg' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<script>
    $(document).ready(function(){
        $('.carousel').carousel({
            interval: 3000  
        });
    });
</script>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{% static 'catalogo/img/logo.jpeg'%}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
            Biblioteca Online
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'libros' %}">Libros</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'autores' %}">Autores</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'categorias' %}">Categorías</a></li>
            </ul>
        </div>
    </nav>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'catalogo/img/slide1.jpeg' %}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'catalogo/img/slide2.jpeg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'catalogo/img/slide3.jpeg' %}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido a la Biblioteca Online</h1>
        <p class="lead">Consulta nuestro catálogo de libros y encuentra tus autores favoritos.</p>
        <hr class="my-4">
        <p>Haz clic en una de las siguientes opciones para explorar:</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg mr-2" href="#" id="btn-libros" role="button">Libros</a>
            <a class="btn btn-primary btn-lg mr-2" href="#" id="btn-autores" role="button">Autores</a>
            <a class="btn btn-primary btn-lg" href="#" id="btn-categorias" role="button">Categorías</a>
        </p>
    </div>
    



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-p3EIoE0F8Vw5T5V2XGE02tbvpah5e23rM0aK2nI+KrrXNc3Wtuz1mZ9A2jgH+St8" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('btn-libros').addEventListener('click', function() {
        Swal.fire({
            title: 'Redirigiendo a Libros',
            html: 'Estás siendo redirigido a la sección de libros...',
            icon: 'info',
            showCancelButton: false,
            confirmButtonText: 'Ok',
        }).then(function(result) {
            if (result.isConfirmed) {
                window.location.href = "{% url 'libros' %}";
            }
        });
    });

    document.getElementById('btn-autores').addEventListener('click', function() {
        Swal.fire({
            title: 'Redirigiendo a Autores',
            html: 'Estás siendo redirigido a la sección de autores...',
            icon: 'info',
            showCancelButton: false,
            confirmButtonText: 'Ok',
        }).then(function(result) {
            if (result.isConfirmed) {
                window.location.href = "{% url 'autores' %}";
            }
        });
    });

    document.getElementById('btn-categorias').addEventListener('click', function() {
        Swal.fire({
            title: 'Redirigiendo a Categorías',
            html: 'Estás siendo redirigido a la sección de categorías...',
            icon: 'info',
            showCancelButton: false,
            confirmButtonText: 'Ok',
        }).then(function(result) {
            if (result.isConfirmed) {
                window.location.href = "{% url 'categorias' %}";
            }
        });
    });
});
</script>

</body>
</html>
